doctype html
html(lang="en")
	head
		title Search for teams
	body
		h1 Search for teams
		p Write the team to search.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
				input(type='submit')
			p
				if (name == "cn=admin, ou=admin, o=ldap")
					li: a(href="/api/admin_secure") Back to last page
				else
					li: a(href="/api/user_secure") Back to last page
