doctype html
html(lang="en")
	head
		title Search Account
	body
		h1 Search Account
		p Write the team, username and password to search an account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

			input(type='submit')
