doctype html
html(lang="en")
	head
		title Change Account Password
	body
		h1 Change Account Password
		p Write your password and the new one to change it.
		form(method='post')
			p
				label(for='password') Password
				input(type='password', name='password')
			p
				label(for='new_password') New password
				input(type='password', name='new_password')
			input(type='submit')
			p
				if (name == "cn=admin, ou=admin, o=ldap")
					li: a(href="/api/admin_secure") Back to last page
				else
					li: a(href="/api/user_secure") Back to last page