doctype html
html(lang="en")
	head
		title Search for user Account
	body
		h1 Search for user Account
		p Write the username to search for that user account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

			input(type='submit')
			p
				li: a(href="/user_secure") Back to last page
