doctype html
html(lang="en")
	head
		title Search user Account (Admin)
	body
		h1 Search user Account (Admin)
		p Write the team, username and password to search an user account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for=':new_team') New team
				input(type='text', name='new_team')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='new_username') New username
				input(type='text', name='new_username')
			p
				label(for='password') Password
				input(type='password', name='password')
			p
				label(for='new_password') New password
				input(type='password', name='new_password')

			input(type='submit')
