doctype html
html(lang="en")
	head
		title Remove team (Admin)
	body
		h1 Remove team (Admin)
		p Write the team, username and password to remove the account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for='admin') Administrator
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

			input(type='submit')
		- each message in flash
			h4(style="color: red;")