doctype html
html(lang="en")
	head
		title Remove username (Admin)
	body
		h1 Remove username (Admin)
		p Write the username to remove the account.
		form(method='post')

			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='admin') Administrator
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

			input(type='submit')
		- each message in flash
			h4(style="color: red;")