doctype html
html(lang="en")
	head
		title Create team Account (Admin)
	body
		h1 Create team Account (Admin)
		p Write the team, username and password to create a team account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

			input(type='submit')
