doctype html
html(lang="en")
	head
		title Secure Area
	body
		h1 Hi, secure Admin.
		p Navigate to
			ul
				p http://localhost:3000/logout
				li: a(href="/logout") Logout




				p http://localhost:3000/account_create
				li: a(href="/account_create") Create user account

				p http://localhost:3000/account_change
				li: a(href="/account_change") Change user account

				p http://localhost:3000/account_remove
				li: a(href="/account_remove") Remove user account






				p http://localhost:3000/admin_account_create_team
				li: a(href="/admin_account_create_team") Create team account

				p http://localhost:3000/admin_account_change_team
				li: a(href="/admin_account_change_team") Change team account

				p http://localhost:3000/admin_account_remove_team
				li: a(href="/admin_account_remove_team") Remove team account

				p http://localhost:3000/admin_account_search_user
				li: a(href="/admin_account_search_user") Search for user

				p http://localhost:3000/admin_account_search_team
				li: a(href="/admin_account_search_team") Search for team

				p http://localhost:3000/server_start
				li: a(href="/server_start") Create server

				p http://localhost:3000/server_stop
				li: a(href="/server_stop") Stop server

				p http://localhost:3000/server_replication
				li: a(href="/server_replication") Replicate server
