doctype html
html(lang="en")
	head
		title Remove team Account (Admin)
	body
		h1 Remove team Account (Admin)
		p Write the team, username and password to remove a team account.
		form(method='post')

			p
				label(for='team') Team
				input(type='text', name='team')
			p
				label(for='username') Username
				input(type='text', name='username')
			p
				label(for='password') Password
				input(type='password', name='password')

				input(type='submit')
			p
				li: a(href="/api/admin_secure") Back to last page