doctype html
html(lang="en")
	head
		title API Documentation
	body
		h1 RESTful API for the simulator
		h2 REST Endpoints

		h3 POST /start_server
		p - Description:
		p - Input
		p - Success ouput
		p - Failure output
		p - Example request


		p
			li: a(href="/") Back to start page
