doctype html
html(lang="en")
    head
        title  API Documentation 
    body
        h1  API Documentation 
        table(border="1")
            tbody
                tr
                    td  #{url}/api/ 
                    td Permite o utilizador ligar-se ao simulador via reverse proxy 
                tr
                    td  #{url}/api/login 
                    td  Permite o utilizador autenticar-se via LDAP 
                tr
                    td  #{url}/api/menu 
                    td
                        Devolve as fases do jogo em curso terminadas de todas as equipas exceto a equipa da qual o utilizador que faz parte

		p
			li: a(href="/api/") Back to start page
