doctype html
html(lang="en")
	head
		title Index
	body
		h1 Proxy - Access to the Simulator
		p Options:
			ul
				p
				li: a(href="/login") Login
				p
				li: a(href="/account_create") Create account
