doctype html
html(lang="en")
	head
		title Index
	body
		h1 Proxy - Access to the Simulator
		p new Date();
			table(width="600")
				tr
					td Login to access to the simulator
					td
						li: a(href="/login") Login
				tr
					td Create an account to access to the simulator
					td
						li: a(href="/account_create") Create account
