doctype html
html(lang="en")
	head
		title Index
	body
		h1 Proxy
		p Options:
			ul
				p
				li: a(href="/login") Login
				p
				li: a(href="/create_account") Create account
				p
				li: a(href="/change_account") Change account
				p
				li: a(href="/remove_account") Remove account
				p
				li: a(href="/remove_team_admin") Remove team (Admin)
				p
				li: a(href="/remove_team_username") Remove username (Admin)

