doctype html
html(lang="en")
	head
		title Index
	body
		h1 Proxy
		p Options:
			ul
				p
				li: a(href="/login") Login
				p
				li: a(href="/account_create") Create account
				p
				li: a(href="/account_change") Change account
				p
				li: a(href="/account_remove") Remove account
				p
				li: a(href="/admin_remove_team") Remove team (Admin)
				p
				li: a(href="/admin_remove_username") Remove username (Admin)

