doctype html
html(lang="en")
	head
		title Menu
	body
		{"id" : "id",
                    "team_name" : "team_name",
                    "game_fase_number" : "number",
                    "room_1"  : "iframe_url",
                    "room_2"  : "iframe_url",
                    "room_4"  : "iframe_url",
                    "room_5"  : "iframe_url"
		}
		
		p
			li: a(href="/api/") Back to start page
