doctype html
html(lang="en")
	head
		title Secure
	body
		h1 Hi, secure user.
		p Navigate to
			ul
				li: a(href="/logout") Logout

		h4 RESTful API implemented:
		h4 Proxy
		h5 http://localhost:3000/account_register
		h5 http://localhost:3000/account_get?username=teste2
		h5 http://localhost:3000/account_post?team=team_8&username=teste9&password=teste4
		h5 http://localhost:3000/account_delete_team?team=team_1
		h5 http://localhost:3000/account_delete_username?username=teste1
		h4 MEMS
		h5 http://localhost:3000/start_server
		h5 http://localhost:3000/stop_server



