doctype html
html(lang="en")
	head
		title Secure Area
	body
		h1 Hi, secure user.
		p Navigate to
			ul
				li: a(href="/logout") Logout

		h4 RESTful API implemented:

		h3 Proxy
		p http://localhost:3000/login
		p http://localhost:3000/account_create
		p http://localhost:3000/account_change
		p http://localhost:3000/account_remove
		p http://localhost:3000/admin_remove_team
		p http://localhost:3000/admin_remove_username
		p http://localhost:3000/logout
		p http://localhost:3000/index
		p http://localhost:3000/secure
		p http://localhost:3000/unauthorised


		h3 Scale
		p http://localhost:3000/server_start
			li: a(href="/server_start") Create server

		p http://localhost:3000/server_stop
			li: a(href="/server_stop") Stop server



