doctype hstml
html(lang="en")
	head
		title Secure Area
	body
		h1 Hi, secure user.
		p Navigate to
			ul
				li: a(href="/logout") Logout

		h4 RESTful API implemented:

		h3 Proxy
		p http://localhost:3000/login
		p http://localhost:3000/create_account
		p http://localhost:3000/change_account
		p http://localhost:3000/remove_account
		p http://localhost:3000/remove_team_admin
		p http://localhost:3000/remove_username_admin

		h3 MEMS
		p http://localhost:3000/start_server
		p http://localhost:3000/stop_server



