doctype html
html(lang="en")
	head
		title Secure Area
	body
		h1 Hi, secure user.
		p Navigate to
			ul
				p http://localhost:3000/logout
				li: a(href="/logout") Logout

				p http://localhost:3000/user_account_change
				li: a(href="/user_account_change") Change account

				p http://localhost:3000/user_account_remove
				li: a(href="/user_account_remove") Remove account

				p http://localhost:3000/user_account_search_team
				li: a(href="/user_account_search_team") Search for team

				p http://localhost:3000/user_account_search_user
				li: a(href="/user_account_search_user") Search for user

				p http://localhost:3000/server_start
				li: a(href="/server_start") Create server

				p http://localhost:3000/server_stop
				li: a(href="/server_stop") Stop server
