doctype html
html(lang="en")
	head
		title Secure Area
	body
		h1 Hi, secure user - #{name}
		p Navigate to
			table(width="600")
				tr
					td RESTful API links
					td Direct
				tr
					td http://localhost:3000/account_change_pw
					td
						li: a(href="/api/account_change_pw") Change password
				tr
					td http://localhost:3000/account_remove
					td
						li: a(href="/api/account_remove") Remove account
				tr
					td http://localhost:3000/account_search_user
					td
						li: a(href="/api/account_search_user") Search for user
				tr
					td http://localhost:3000/account_search_team
					td
						li: a(href="/api/account_search_team") Search for team
				tr
					td http://localhost:3000/server_start
					td
						li: a(href="/api/server_start") Create server
				tr
					td http://localhost:3000/server_stop
					td
						li: a(href="/api/server_stop") Stop server
				tr
					td http://localhost:3000/logout
					td
						li: a(href="/api/logout") Logout